.Rproj.user
.Rhistory
.RData
.Ruserdata

mvln/data/inputs/forecasts/
mvln/data/inputs/run_06/
mvln/Rmd/cache/
mvln/Rmd/*.html
mvln/outputs/tex/
mvln/outputs/html/
mvln/outputs/pdf/
mvln/outputs/word/

cache/

*.png
*.RData
*.rdb
*.rds
*.rdx
*.ppx
*.bib
*.md
*.pdf
*.html
*.ppt
*.pptx
*.log
*.sso
*.ss_new
*.eva
*.cor
*.cov
*.out
*.bak
*.p0*
*.b0*
*.r0*
*.docx
*.doc
*.xlsx
*.csx

